In [ ]:
# exercise 1 
# My last 4 months electricity bills were Rs.785, Rs.700,Rs.790 and Rs.892
# write an expression to calculate average of electricity bill over the 4 month period
print()

In [2]:
# exercise 2

# For a new section in a college administration is planning to setup 
# it with 10 tables(each Rs.4000) and 20 chairs (each Rs.1750)
# write an expression to calculate the total price

In [ ]:
# exercise 3
# A newly opened Mobile store is providing 15% discount on mobiles with price above Rs.20000
# If you pay using credit card then you'll get instant cashback of 5% over the discounted price

# Write an expression to print fianl price of mobile with price Rs.25000
# if you are paying with credit card
# Hint:Discount formulae  D = Price x percent/100 
# Hint:Total price after discount formulae  = Price - D 

print()

In [ ]:
# exercise 4

my_number = 25
your_number =  #initialize it to a number of your choice
# double your_number and store the result in your_number

# add my_number to your_number and store in your_number

# update your_number to the half of the your_number

result = # subract your choosen number from the your_number and store it in the result
#print the result. IT SHOULD BE 12.5. YOUR MESSED UP SOMEWHERE IF YOU GOT SOME OTHER ANSWER
print(result)

In [ ]:
# exercise 5
# ind vs aus ----- 50/50

# india played first and scored 325 runs in 47 overs
ind_score = 325

# after australia scored 210 runs and rain stopped the match
aus_score = 210

# next day australia scored 114 runs and then got all out by then it left with 4 overs
# so update aus_score to new value
# write an expression to print True if india wins
aus_score +=  114 



print()

# initialize below variables
ind_run_rate = 
aus_run_rate = 

#print True if run rate of australia is more than india's

In [ ]:
# exercise 6
# print true if a 'number' is even

# intialize it with number of your choice
number =

In [ ]:
# exercise 7
# print False if 'number' is multiple of 3 and 5

# intialize it with number of choice
number =

In [ ]:
# exercise 8
# print True if a is smaller than b

a = 18
b = 13

In [ ]:

# exercise 9 
# Two teams from Telangana and two teams from Andhra are participating in inter state tournaments of football
# telangana team1 vs andhra team1
tn_team1 = 1
ap_team1 = 2

#  telangana team2 vs andhra team2
tn_team2 = 2
ap_team2= 5

#print True if any one of the teams from telangana has won

In [ ]:
# exercise 10 

# Strings
# Fix this string in a correct format and assigned to ford_quote

ford_quote = 'Whether you think you can, or you think you can't--you're right.'

print(ford_quote)

In [ ]:
# exercise 11

name="Raju"
train_name="Rajadhani Express"
date_time="08/08/2018 20:22:45."

# Use the above variables and print the message in the below format
# Raju booked a ticket for Rajadhani Express on 08/08/2019 at 20:22:45.

In [ ]:
# exercise 12

# Use string concatenation and len() function and store it in full_name and determine the length of full name
first_name="Raghav"
middle_name="Rao"
last_name="Chaganti"

# your code here

In [ ]:
# exercise 13

july_rainfall="3.1"
august_rainfall="2.9"
september_rainfall="3.7"

# Find total rainfall and average rainfall
# The string format should be like this "The average rainfall is : xxx".



print(avg_rainfall)

In [ ]:
# exercise 14

name="Naveen"
action="ordered"
# write a print statement using f-strings to print out the sentence as shown below
# Naveen ordered pizza

print(res)

In [ ]:
# exercise 15

# create a variable my_string with below data
# "When I say 'immediately,' I mean some time before August," said the manager.
# and print that variable


print()

In [ ]:
# exercise 16

# create a list hobbies with your hobbies as string elements
# and print the list

hobbies = []

In [ ]:
# exercise 17

planet_no = 3
planets = ["Mercury","Venus","Earth","Mars","Jupiter","Saturn","Uranus","Neptune"]

# access the planet specified by planet_no 
# and print the upper case version of that planet name
print()

# update "Earth" with uppercase "EARTH" in the planets list and print list



#Outputs:
# EARTH

In [ ]:
# exercise 18

# create a list with first 6 prime numbers
# write an expression to print True if 11 is in the list

In [ ]:
# exercise 19

squares = [49, 36, 81, 4, 25, 9, 16, 64, 100, 1]

# Q1:create a list with name sliced_sqrs and value as last four elements of the squares list
# and print the list

print()


# Q2:Also print largest number in the sliced_sqrs list

print()

In [ ]:
# exercise 20

# to the squares list defined above add a square of your choice to it at the end
# and print the list

In [ ]:
# exercise 21

# My last 4 months electricity bill was Rs.785, Rs.700,Rs.790 and Rs.892

# create a list with name electricity_bills with values specified in the exercise 1
# and print the average by using functions for lists

In [ ]:
# exercise 22

# define cubes(a tuple) with cubes of 1,2,3 and 4 and print the tuple

In [5]:
# exercise 23

# print the 7th element of the below tuple
months = ("Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec")

In [4]:
# exercise 24

# below is the list of ages with duplicates
# create a new list new_ages without duplicates using set

ages = [22,18,18,20,19,22,18,24,22,19,20]
print()

In [ ]:
# exercise 25

lst = [1,2,"hey",4.5,'45',"hello world",44]
i = 5
# write an expression to print False if the value at the index i is number
# use dir

print()

In [7]:
# exercise 26

#create a dictionary with name "elements" with element name as key and it's atomic number as value for the following elements and print it
#element name         atomic number
#Helium                2
#Hydrogen              1
#Argon                 18 
#oxygen                8
#Xenon                 54

In [ ]:
# exercise 27

# create a dictionary with below words as keys and and their lengths as values
words = ["sun","chocolate","colors","kryptonite","logic","free"]



print()

In [ ]:
# exercise 28

shape = {"Traingle":3,"Square":4,"Pentagon":5}

# write an expression to print True  
# if the result of get operation below is a valid number of sides
# using identity operators

sides = shape.get("Hexagon")

# help(dict.get)

In [ ]:
# exercise 29

employees = [{
                "name":"Sravan",
                "age":25,
                "salary":30000
             },
             {
                "name":"Rahul",
                "age":27,
                "salary":32000
             },
             {
                "name":"Keerthana",
                "age":23,
                "salary":35000
             }
            ]


#Q1: Increment the salary of the Rahul with 4000 and print the list


#Q2: Add another employee to the list with details Samyuktha,26,33000 and print the list

In [ ]:
# exercise 30

l = [2,5,4,'a','b','c','d','4']

# Q1:print the index of the element 'c' using index() method of the list


# Q2:write an expression to print the type of the fifth element 


# Q3:update the list by inserting an element 7 at fifth position


# Q4:write an expression to print False if the last element in the list is a number
# hint: use string methods

# dir(str)

In [ ]:
# exercise 31


l = [2,5,4,'a','b','c','d','4']

# Q1: use extend() method to add ['j','i',8] to the given list
# hint:help(list.extend)


name = "Raju"
percentage = 89

# Q2: use f-string to print "Raju scored 89% in IP"



a = '23'
b = '45'
# c =  # sum of a and b

# Q3: print "sum of a and b is <value of c>" using format() method of string
# Q4: complete Q3 without using format() method and f-strings

In [ ]:
# string exercise


# reverse the below string and print
s = "Hello world"